html {
    font: 12px "Helvetica", sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 3.5rem;
    color: #8595a2;                             /* pcat medium gray */
    text-align: center;
    padding: 0;
    margin: 2rem 2rem 5rem 2rem;
}

h2 {
    font-weight: normal;
    font-size: 2.25rem;
    color: #5c707b;                             /* pcat dark gray */
    text-align: center;
    line-height: 3rem;
    padding: 0;
    margin: 4rem 1rem .5rem 1rem;
}

h3 {
    font-weight: normal;
    font-size: 2rem;
    color: #8595a2;                             /* pcat medium gray */
    text-align: center;
    line-height: 2.5rem;
    padding: 0;
    margin: 0 1rem 3rem 1rem;
}

h4 {
    font-weight: normal;
    font-size: 2rem;
    color: #5c707b;                             /* pcat dark gray */
    text-align: center;
    line-height: 2.5rem;
    padding: 0;
    margin: 1rem 1rem 1rem 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem 0;
    background-color: white;
    box-shadow: 0 .25rem .15rem 0 #d4d4d4;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-self: center;
    z-index: 1;
}

.nav-list li a {
    padding-right: 2rem;
    color: #217ace;                             /* lighter than pcat dark blue */
    text-decoration: none;
}

.nav-list li a:hover {
    color: #005dab;                             /* pcat dark blue */
}

.pcat-logo {
    height: 4.5rem;
    padding: 0 0 .25rem 1.75rem;
}

section {
    position: relative;
    top: 2.5rem;
    left: 0;
    padding-top: 5rem;
}

.section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .5rem;
}

.login-card {
    background-color: #e0e3e5;                  /* lighter than pcat light gray */
    border-radius: .5rem;
    box-shadow: 0 .25rem .05rem .075rem #c0c3c5;  /* intuition */
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    font-size: 1.5rem;
    background-color: #5c707b;                  /* pcat dark gray */
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    text-align: center;
}

.login-input {
    font-size: 2rem;
    height: 3rem;
    width: 30rem;
    margin: 5rem 5rem 3rem 5rem;
    padding-left: 0.75rem;
    border: none;
    border-radius: .25rem;
}

::-webkit-input-placeholder {
    color: #aabdce;                             /* lighter than pcat medium gray */
    font-size: 2rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cdd6dd;                             /* pcat light gray */
    font-size: 2rem;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #cdd6dd;                             /* pcat light gray */
    font-size: 2rem;
}

:-ms-input-placeholder {
    color: #cdd6dd;                             /* pcat light gray */
    font-size: 2rem;
}

.button {
    font-size: 1rem;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: .25rem;
}

.affirmative {
    background-color: #006bc4;                  /* lighter than pcat dark blue */
}

.button.affirmative:hover {
    background-color: #005dab;                  /* pcat dark blue */
}

.neutral {
    background-color: #8595a2;                  /* pcat medium gray */
}

.button.neutral:hover {
    background-color: gray;
}

.big-button {
    font-size: 1.75rem;
    width: 31rem;
    margin: 0 5rem 5rem 5rem;
}

.medium-button {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    margin: 0 5rem 5rem 5rem;
}

.inline-button {
    padding: .375rem 1.5rem;
    margin-left: 1rem;
}

.logout-button {
    margin: .5rem 1.5rem .5rem .5rem;
    align-self: center;
}

.confirm {
    background-color: white;
    border: 1px solid #cdd6dd;                    /* pcat light gray */
    margin: .175rem .5rem .175rem 0;
}

.inline-directive {
    display: flex;
    justify-content: center;
    margin: -3rem 0 4rem 0;
}

.inline-directive h2 {
    margin: 0 .75rem 0 0;
}

.inline-directive input {
    padding-left: 1rem;
    height: 2rem;
    margin: .25rem 0 0 0;
}

.family-number-input {
    border: 1px solid #cdd6dd;                    /* pcat light gray */
}

.item-box {
    padding: 1rem 2rem 2rem 2rem;
    background-color: #f5f8fa;                    /* lighter than pcat light gray */
    border-radius: .5rem;
}

.review-table-row {
    display: flex;
    align-items: center;
}

.review-table-row .button {
    margin-right: 2rem;
}

.review-table-row-label {
    font-size: 1.25rem;
    color: #8595a2;                               /* pcat medium gray */
    margin: 0 1rem;
}

.review-table-row-data {
    font-size: 1.25rem;
    margin-right: 4rem;
}

.quantity-input {
    width: 3rem;
}

tr a {
    background-color: #006bc4;                  /* lighter than pcat dark blue */
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: .25rem;
    text-decoration: none;
    padding: .375rem 1.5rem;
}

tr a:hover {
    background-color: #005dab;                  /* pcat dark blue */
}

th {
    padding-left: 1rem;
}

form h2 {
    font-size: 2rem;
}
