<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<property name="show_sql">true</property>
		<mapping class="org.pcat.inventory.model.Inventory" />
		<mapping class="org.pcat.inventory.model.User" />
		<mapping class="org.pcat.inventory.model.FamilyInventory" />
		<mapping resource="org/pcat/inventory/model/Inventory.hbm.xml" />
		<mapping resource="org/pcat/inventory/model/User.hbm.xml" />
		<mapping resource="org/pcat/inventory/model/FamilyInventory.hbm.xml" />
		<mapping resource="org/pcat/inventory/model/FamilyInventoryDisplayRequest.hbm.xml" />
	</session-factory>
</hibernate-configuration>